# Track only Jupyter notebooks and README files; ignore everything else
# 1) Ignore everything by default
*

# 1.1) Explicitly ignore notebook checkpoints and virtual documents
**/.ipynb_checkpoints/**
**/.virtual_documents/**

# 1.2) Allow project rules in .cursor/rules to be tracked
!**/.cursor/
!**/.cursor/rules/
!**/.cursor/rules/**

# 2) Allow traversing into directories so unignored files can be found
!*/

# 3) Always keep this ignore file itself
!.gitignore

# 4) Allow Jupyter notebooks
!**/*.ipynb

# 5) Allow README files (common case variants)
!**/README.md
!**/README.MD
!**/readme.md
