# Track only Jupyter notebooks and README files; ignore everything else
# 1) Ignore everything by default
*

# 2) Allow traversing into directories so unignored files can be found
!*/

# 3) Always keep this ignore file itself
!.gitignore

# 4) Allow Jupyter notebooks
!**/*.ipynb

# 5) Allow README files (common case variants)
!**/README.md
!**/README.MD
!**/readme.md
